/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/public/logo.png
/public/po_pdf/
/public/summary_pdf/
/public/documents/aadhar_cards/
/public/documents/emp_photos/
/public/documents/pan_cards/
/public/documents/passbooks/
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
